<div class="row">

    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">

            <a href="@Url.Action("Create", "Home")" class="list-group-item 
               
               @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active" : "")"
               >
                Add New
                <span class="pull-right" aria-hidden="true">
                    <i class="glyphicon glyphicon-plus"></i>

                </span>

            </a>
            <a href="@Url.Action("Index","Home")" class="list-group-item 
               
               
               @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
               
               >
                All Contact
                <span class="badge">@ViewBag.CountofContact</span>
            </a>
            <a href="@Url.Action("Favourite","Home")" class="list-group-item
               @(ViewContext.RouteData.Values["Action"].ToString() == "Favourite" ? "active" : "")"
               
               >
                Favourite
                <span class="pull-right" aria-hidden="true">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
